.logo {
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-left: 35px;
    text-decoration: none;
    position: absolute;
    left: 20%;
    top: 8%;
    transform: translateX(-50%);
}

header nav {
    background-color: #080c15;
    height: 70px;
    width: 100vw;
    border-bottom: 2.5px solid #e50914;
    display: flex;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    
}

header nav form {
    background-color: rgba(16, 23, 38, .9);
    width: 380px;
    height: 44px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1.5px solid red;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.search-icon {
    color: red;
    display: none;
    position: absolute;
    margin-right: 15px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

header nav input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 50vw;
    padding: 6px 10px;
}

::placeholder {
    color: #fff;
    opacity: 0.7;
    font-size: 20px;
}

header nav button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 45px;
    gap: 50px;
}

.of-logo {
    color: #e50914;
    font-size: 55px;
}

.search-icon {
    display: none;
    font-size: 28px;
    color: white;
}

@media screen and (max-width: 768px) {
    .logo {
        left: 38%;
        transform: translateX(-50%);
    }
    
    header nav {
        position: absolute;
    }

    header nav ul {
        display: none;
    }

    .search-icon {
        display: block;
    }

    header nav form {
        display: none;
    }
}
