@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #080c15;
    font-family: 'Inter', sans-serif;
    color: white;
}

.body-container {
    margin: 100px 110px 0px 110px;
}

.content-list {
    width: 90vw;
    height: 150vh;
}


@media screen and (max-width: 768px) {
    .body-container {
        margin: 100px 20px 0 0px;
    }
    
    .content-list {
        width: 100vw;
        height: 450vw;
    }
}
