@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #080c15;
    font-family: 'Inter', sans-serif;
    color: white;
}

.body-container {
    margin: 100px 20px 0px 150px;
}

.content-list {
    width: 100vw;
    height: 250vh;
}


@media screen and (max-width: 768px) {
    .body-container {
        margin: 100px 20px 0 0px;
    }
}
